body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #b4e7d5, #93c3db);
    font-family: 'Garamond', serif;
    transition: background 1s ease-in-out;
}

#game-container {
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(40, 37, 37, 0.3);
    background: rgba(255, 255, 255, 0.65);
}

#logo-image {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
}

@media only screen and (min-width: 600px) {
    #logo-image {
        width: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    #logo-image {
        width: 200px;
    }
}

.outer {
    position: absolute;
    width: 250px;
    right: 0;
    bottom: 0;
    height: auto;
}

#note-display {
    font-size: 24px;
    margin-bottom: 20px;
}

#user-input button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#feedback {
    color: red;
    margin-top: 10px;
}

#level-display {
    margin-top: 10px;
    font-weight: bold;
}
