body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #0F1035, #365486, #7FC7D9, #DCF2F1);
  font-family: 'Garamond', serif;
  transition: background 1s ease-in-out;
}


#logo-image {
  position: fixed;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  width: 50px; /* Adjust the width as needed */
  height: auto;
}

@media only screen and (min-width: 600px) {
  #logo-image {
      width: 200px; /* Adjust width for larger screens */
  }
}

@media only screen and (min-width: 1200px) {
  #logo-image {
      width: 275px; /* Further adjust width for even larger screens */
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}

#level-title {
  font-size: 2.5rem; /* Slightly larger font size */
  margin: 4%;
  color: #f4f2f3; /* Pink Accent */
}

#game-container {
  background: rgba(255, 255, 255, 0.65); /* White color with 65% opacity */
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(40, 37, 37, 0.3);
}

.row {
  margin-bottom: 20px;
}

.btn {
  margin: 10px; /* Increased margin for more spacing */
  display: inline-block;
  height: 150px; /* Increased button size */
  width: 150px; /* Increased button size */
  border: 1px solid rgb(238, 230, 230); /* Border color changed to Blue */
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFC107; /* Amber */
  animation: bounceBorder 1s infinite alternate; /* Bouncing border animation */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05); /* Slightly zoom in on hover */
  box-shadow: 0 0 20px #e8a9be; /* Pink Accent */
  animation: none; /* Disable bouncing border animation on hover */
}

.red {
  background-color: #FF4081; /* Pink Accent */
}

.green {
  background-color: #4CAF50; /* Green */
}

.blue {
  background-color: #2196F3; /* Blue */
}

.yellow {
  background-color: #FFD600; /* Yellow */
}

.pressed {
  box-shadow: 0 0 20px #FFC107; /* Amber */
  background-color: #FFA000; /* Darker Amber */
}

/* Keyframe animations */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px); /* Reduce bounce height */
  }
  60% {
    transform: translateY(-2px); /* Reduce bounce height */
  }
}

@keyframes bounceBorder {
  0% {
    border-width: 8px;
  }
  100% {
    border-width: 12px; /* Reduced border width for milder bouncing effect */
  }
}
#penguin-image {
  position: fixed;
  bottom: 10px; /* Adjust the bottom position as needed */
  left: 10px; /* Adjust the left position as needed */
  width: 50px; /* Adjust the width as needed */
  height: auto;
}

@media only screen and (min-width: 600px) {
  #penguin-image {
      width: 200px; /* Adjust width for larger screens */
  }
}

@media only screen and (min-width: 1200px) {
  #penguin-image {
      width: 350px; /* Further adjust width for even larger screens */
  }
}

#stars-display{
  background-color: #DCF2F1;
  text-align: center;
  border-radius: 15px;
}